*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Open Sans", sans-serif;
}

/*Nav Section*/

nav{
	background-color: white;
	padding: .8rem;
	padding-left: 100px;
	padding-right: 100px;
	list-style-type: none;
	top: 0;
	position: sticky;
	z-index: 5;
}

nav .nav, nav .nav-logo{
	display: inline;
	margin: .5rem;
}

nav .right-nav{
	float: right;
}

.tuitt-button{
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: .5rem;
}

/*Landing Section*/

#bg-image{
	min-height: 50vh;
	background-size: 100%;
	background-position: center;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
}

.front-bg{
	background-color: rgba(0, 0, 0, 0.4);
	min-height: 50vh;
	}

.title{
	z-index: 5;
	font-family: "Zilla Slab", monospace;
	color: white;
	text-align: right;
	font-size: 3rem;
	margin-bottom: 1rem;
}

.subtitle{
	margin-left: 30%;
	color: white;
	text-align: right;
	font-size: 1.3rem;
}

.container{
	margin-left: 60%;
	margin-right: 120px;
}

.apply-button{
	margin-top: 1rem;
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: .5rem;
	display: block;
	margin-left: auto;
	width: 10rem;
}

/*Intro Section*/

.title-2{
	font-family: "Zilla Slab", serif;
	text-align: center;
	padding: 30px;
	font-size: 2rem;
}

.intro-description{
	padding: 25px;
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 50px;
}

/* PRE-FOOTER SECTION */

.pre-footer{
	background-color: #f7fbfb;
	padding: 25px;
	padding-bottom: 100px;
}

.prefooter-description{
	text-align: center;
	padding: 25px;
	
}

.book-button{
	display: block;
	margin-right: auto;
	margin-left: auto;
	background-color: #336589;
	color: white;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: .5rem;
	height: 3rem;
	width: 13rem;
}

/*footer*/

footer{
	text-align: center;
}